In [2]:
# To ensure Chinese characters are displayed correctly
options(encoding = "UTF-8")
Sys.setlocale("LC_CTYPE", "en_US.UTF-8")

[1] "en_US.UTF-8"

# Read progress file

In [1]:
flights = readRDS("data/flights.rds")

In [ ]:
# check the progress object structure
str(flights)

![](../img/str_flight.png)

- `flights` is a list with one element `data` (We can take `data` out via `$data`)
- `data` element is a list of one element (no name on that element). (We can take that element out via `[[1]]`)
- The first element of `data` is a list of three elements, named `file`, `meta` and `data_frame`. (We can take `data_frame` out via `$data_frame`)

In [4]:
flightsData <- flights$data[[1]]$data_frame

> You can also interactively find out how to retrieve an element inside a list following:
> #### Step 1:
> ![observe flights1](img/observe_flights1.png)
> #### Step 2:
> ![observe flights2](img/observe_flights2.png)

## Analysis on Data Frame

### Recap

Data Frame is an extended class from list.

In [8]:
# Consider the following data frame of student grades

grades = data.frame(
    student = c("Alice", "Bob", "Charlie", "David", "Eve"),
    midterm = c(95, 80, 70, 60, 75),
    final = c(90, 85, 75, 95, 80)
)

  - It is like a list with named elements. Each element can be retrieve via `[[...]]` or `$...`

In [9]:
grades[["student"]]
grades[["midterm"]]

[1] "Alice"   "Bob"     "Charlie" "David"   "Eve"

[1] 95 80 70 60 75

In [10]:
grades$student
grades$midterm

[1] "Alice"   "Bob"     "Charlie" "David"   "Eve"

[1] 95 80 70 60 75

- It has an extra retrieval tool `[..., ...]` which allows you to retrieve a subset of the data frame.

In [12]:
grades[, "student"] # retrieve student column
grades[, c("student", "midterm")] # retrieve student and midterm columns
grades[c(1,3), "student"] # retrieve student column for rows 1 and 3
grades[c(1,3), c("student", "midterm")] # retrieve student and midterm columns for rows 1 and 3

[1] "Alice"   "Bob"     "Charlie" "David"   "Eve"

  student midterm
1 Alice   95
2 Bob     80
3 Charlie 70
4 David   60
5 Eve     75

[1] "Alice"   "Charlie"

  student midterm
1 Alice   95
3 Charlie 70

In [8]:
dplyr::glimpse(flights$data[[1]]$data_frame)

Rows: 4,941
Columns: 20
$ AirlineID          <chr> "3U", "3U", "3U", "3U", "3U", "3U", "3U", "3U", "3U~
$ ScheduleStartDate  <chr> "2023-10-13", "2023-10-20", "2023-10-27", "2023-10-~
$ ScheduleEndDate    <chr> "2023-10-15", "2023-10-22", "2023-10-27", "2023-10-~
$ FlightNumber       <chr> "3U3783", "3U3783", "3U3783", "3U3784", "3U3784", "~
$ DepartureAirportID <chr> "CKG", "CKG", "CKG", "TSA", "TSA", "TSA", "TFU", "T~
$ DepartureTime      <chr> "15:00", "15:00", "15:00", "19:00", "19:00", "19:00~
$ CodeShare          <list> [<data.frame[0 x 0]>], [<data.frame[0 x 0]>], [<da~
$ ArrivalAirportID   <chr> "TSA", "TSA", "TSA", "CKG", "CKG", "CKG", "TSA", "T~
$ ArrivalTime        <chr> "18:00", "18:00", "18:00", "22:15", "22:15", "22:15~
$ Monday             <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, TRUE, TRU~
$ Tuesday            <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FA~
$ Wednesday          <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, TRUE, TRU~
$ Thursday           <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FA~
$ Friday             <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRU~
$ Saturday           <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FA~
$ Sunday             <lgl> TRUE, TRUE, FALSE, TRUE, TRUE, FALSE, TRUE, TRUE, F~
$ UpdateTime         <chr> "2023-10-10T08:26:07+08:00", "2023-10-10T08:26:07+0~
$ VersionID          <int> 1111, 1111, 1111, 1111, 1111, 1111, 1111, 1111, 111~
$ Terminal           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, "1"~
$ num_codeShare      <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~